@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf)
    format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrQ.ttf)
    format("truetype");
}

.business-card {
  display: grid;
  overflow: hidden;
  position: relative;
  line-height: 1.6;
  font-size: 4.5vmin;
  width: 100vmin;
  height: 60vmin;
  padding: 7vmin;
  margin-bottom: 50px;
  border-radius: 6px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.4);
}
.content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: "Raleway", sans-serif;
  color: #222831;
}
.top {
  display: grid;
  grid-column: 0.33333333;
  grid-row: 1;
  align-content: start;
  grid-gap: 1.5vmin;
  animation: inLeft;
  animation-duration: 1s;
}
.name {
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
}
.profession {
  color: #393e46;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
}
.bottom {
  display: grid;
  grid-column: 0.33333333;
  grid-row: 3;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: end;
}
.bottom .left {
  font-weight: 700;
  font-size: 0.9em;
  grid-column: 1;
  animation: inLeft;
  animation-duration: 1s;
}
.bottom .right {
  grid-column: 3;
  align-self: end;
  animation: inRight;
  animation-duration: 1s;
}
.location {
  white-space: nowrap;
  text-align: right;
  color: #393e46;
  text-transform: uppercase;
  font-size: 0.9em;
}
.background {
  z-index: -1;
  background-color: #eeeeee;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.slice {
  top: -59vmin;
  left: -1vmin;
  position: absolute;
  width: 90vmin;
  height: 150vmin;
  background: #00adb5;
  background: -webkit-linear-gradient(to right, #00adb5, #018b92);
  background: linear-gradient(to right, #00adb5, #018b92);
  transform: rotate(38deg);
  animation: inRotate;
  animation-duration: 1s;
}
html {
  height: 200%;
}
body {
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.btn-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.button {
  width: 160px;
  height: 45px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #00adb5;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #393e46;
  box-shadow: 0px 10px 15px #5b626f;
  color: #fff;
  transform: translateY(-7px);
}
